body {
    background: #eef2f7;
    font-family: Segoe UI;
}

.card {
    border: none;
    border-radius: 15px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
}

.table {
    background: white;
}

    .table td {
        vertical-align: middle;
    }

    .table tbody tr:hover {
        background: #eef6ff;
    }

.navbar {
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

footer {
    margin-top: 80px;
    padding: 20px;
}